#virtualKeyboard{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:#e3e6ea;
    padding:6px;
    display:none;
    border-top:1px solid #bbb;
}

.vk-row{
    display:flex;
    justify-content:center;
    margin-bottom:4px;
}

#virtualKeyboard button{
    flex:1;
    margin:2px;
    padding:10px;
    font-size:16px;
    border:none;
    background:white;
    border-radius:4px;
}

#virtualKeyboard button:active{
background:#bcdcff;
}

.shift.active {
background:#bcdcff;
}

#virtualKeyboard button.vk-space {
    flex:4;
}

#virtualKeyboard button.vk-done {
    flex:1.5;
    background:#bcdcff;
}
#virtualKeyboard fieldset {
    padding:0;
}
#virtualKeyboard input {
    margin:0;
    height: 15px;
    width: 15px;
}
#virtualKeyboard input, fieldset, label, legend {
    font-size:10px;
    vertical-align: middle;
}

